div.views-view-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

div.views-view-grid .views-grid-box {
  background-color: #333333;
  border: 1px solid #777777;
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-width: 22rem;
}
