div.views-view-grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

div.views-view-grid .views-grid-box {
  background: #303030;
  border: 3px ridge #777777;
  border-radius: 1rem;
  flex: 1 1 auto;
  margin: 0.5rem;
  min-width: 5rem;
  width: 15rem;
  max-width: 100%;
}


div.block-views-promoted-cards-block,
div.block-views-promoted-services-block {
  background: #181818;
  border: 3px ridge #777777;
  border-radius: 1rem;
  margin: 1rem;
}

div.block > h2 {
  margin-left: 1rem;
}
