html {
  background-color: black;
/*  background-image: linear-gradient(to right, black, #002200); */
  color: white;                    
}

a {
  color: lightskyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.block-hero {
  background-color: #333333;
}
